.NavBar{
    background-color: #abdbec;
    font-family: 'Kaushan Script', cursive;
    min-height: 100px;
    border: 1px solid #8dc9e1
}

i:hover {
    color: black;
    font-size: 150%;
}

a:hover{
    text-decoration: none;
}

.NavLink{
    padding: 5px;
}

.Active i {
    color: #003366
}