.App {
    font-family: 'Kaushan Script', cursive;
    min-height: 100vh;
}

i:hover {
    color: black;
    font-size: 150%;
}

.Padding{
    padding-top: 100px;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

.Product {
max-height: 40vh;
max-width: 100%;
object-fit: contain;
}